<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mobizen SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Send SMS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Enviar SMS</h2>
    <form (ngSubmit)="sendSms()">
      <div>
        <label for="recipients">Números dos destinatários (separados por vírgula):</label>
        <ion-input id="recipients" [(ngModel)]="recipients" name="recipients" required></ion-input>
      </div>
      <div>
        <label for="text">Mensagem:</label>
        <ion-textarea id="text" [(ngModel)]="text" name="text" required></ion-textarea>
      </div>
      <ion-button type="submit">Enviar</ion-button>
    </form>
    <div *ngIf="results.length">
      <h3>Resultados:</h3>
      <ul>
        <li *ngFor="let result of results">{{ result }}</li>
      </ul>
    </div>
  </div>
</ion-content>
