<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mobizen SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Send SMS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="container" class="ion-padding">
    <h2>Enviar SMS</h2>
    <form (ngSubmit)="sendSms()">
      <ion-item>
        <ion-input placeholder="Nº dos destinatários (separados por vírgula)" id="recipients" [(ngModel)]="recipients" name="recipients" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Mensagem" id="text" [(ngModel)]="text" name="text" required></ion-textarea>
      </ion-item>
      <ion-button type="submit" class="ion-padding-top">Enviar</ion-button>
    </form>
    <div *ngIf="results.length">
      <h3>Resultados:</h3>
      <ul>
        <li *ngFor="let result of results">{{ result }}</li>
      </ul>
    </div>
  </ion-content>
</ion-content>
